*{
    padding: 0;
    margin: 0;
}
.container_1{
    text-align: center;
    padding-top: 20px;
}
.container_2{
    width: 500px;
    text-align: center;
    margin: auto;
}
.P1{
    padding-bottom: 20px;
}
.P2{
    text-align: justify;
}
img{
    width: 500px;
    height: 300px;
    padding-bottom: 30px;
}
button{
    width: 100px;
    height: 30px;
    border: 0px solid white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    margin-bottom: 30px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
q{
    color: yellowgreen;
}
a{
    color: burlywood;
    text-decoration-line: none;
    position: relative;
    right: 185px;
}